# Paths
BGG_DATA_DIR=data
RULEBOOKS_DIR=rulebooks

# Services
MLFLOW_TRACKING_URI=http://localhost:5000
CHROMA_HOST=http://localhost:8001
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=phi3:mini

# MLflow model
MLFLOW_MODEL_NAME=bgg-recommender
MLFLOW_MODEL_STAGE=Production

# Spark (training)
SPARK_MASTER=local[*]

# Frontend
FASTAPI_URL=http://localhost:8000
